@charset "utf-8";
html, body { height: 100%; }
body { padding: 0; background: #FFFFFF; color: rgba(0,0,0,.75); font-size: 13px; font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei; }
.navbar-top { height: 50px; padding: 0; background: rgba(255,255,255,.6)!important; border: none; box-shadow: 0 0 0 1px rgba(0,0,0,.1); -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1); }
.navbar-bottom { color: rgba(255,255,255,.6); }
.navbar-brand { padding: 2px!important; }

.nav-flat { border-bottom: 1px solid #e7e7e7; margin-left: 0; list-style: none; }
.nav-flat>li { position: relative; border: 0; border-left: 1px solid #fff; padding: .65em 0; }
.nav-flat>li.active { border-bottom: 2px solid #cccccc; }
.nav-flat>li>a { border-right: 1px solid #d8d8d8; padding: 2px 15px; }
.nav-flat>li:last-child>a { border-right: 0; }
.nav-flat>li.active>a, .nav-flat>li.active>a:focus, .nav-flat>li.active>a:hover { color: #555; background: none !important; font-weight: bold; cursor: pointer; }
.nav-flat>li>a:hover { background: none !important; color: #555; font-weight: bold; }

.panel-heading, .panel-footer { border: none; }

/* header */
#header .tools {}
#header .tools .tool-item { cursor: pointer; white-space: nowrap;}
#header .tools .tool-item .icon { display: block; font-size: 20px; font-weight: 400; vertical-align: middle; text-align: center; }
#header .tools .tool-item a.avatar { padding: 6px 10px; }
#header .tools .tool-item .avatar img { display: inline; border-radius: 80px; width: 38px; height: 38px; vertical-align: middle; }
#header .tools .tool-item .dropdown-menu { min-width: 100px; }
#header .tools .tool-item .dropdown-menu>li>a { padding: 0 6px; height:30px; line-height: 30px; }
#header .tools .tool-item .dropdown-menu .icon { display: inline; font-size: 14px; text-align: center; padding: 0px 6px; top: 0; vertical-align: middle; }

.tooltip-error { position: absolute; min-width: 160px; max-width: 180px; line-height: 20px; margin: 6px; padding: 6px; color: #a94442; background-color: #f2dede; border-color: #ebccd1; border: 1px solid transparent; border-radius: 4px; z-index: 99; }
.tooltip-error:before, .tooltip-error:after { position: absolute; top: 6px; border: 5px solid transparent; content: " "; }
.tooltip-error.left:after { right: 100%; border-right-color: #f2dede; border-right-width: 5px; }
.tooltip-error .error { font-size: 13px; }