@charset "utf-8";
body { background: url("../img/wallpapers/station.jpg") center center no-repeat fixed; height: 100%; padding: 60px; }
body:before { content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0,0,0,.5); }
.auth-form{ float: none !important; margin: -150px 0 0 -214px; position: absolute; top: 50%; left: 50%; background: rgba(255,255,255,.6); padding: 40px;}
.auth-form.signup-form { margin: -244px 0 0 -240px; }
.auth-form .auth-form-header { /*background: #829aa8; border: 1px solid #768995; border-radius: 4px 4px 0px 0px;*/ color: #3c3c3c; padding: 10px; }
.auth-form .auth-form-header h1 { font-size: 24px; font-weight: bold; }
.auth-form .auth-form-body { padding: 10px; font-size: 14px; color: rgba(0,0,0,.7) !important; /* border: 1px solid #d8dee2; border-radius: 0px 0px 4px 4px;*/ }
.auth-form .auth-form-body input.form-control { height: 46px; width: 100%; }
.auth-form .btn-signin, .auth-form .btn-signup { width: 100%; padding: 8px; }