@charset "utf-8";

body { background: url("../img/wallpapers/station.jpg") center center no-repeat fixed; height: 100%; padding: 60px; }
body:before { content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0,0,0,.5); }

.wraper { width: 100%; height:100%; }
.wraper .main-container, .wraper .chat-container { height:100%; }
.im-main-panel, .chat-main-panel { float: left; height: 100%; width: 100%; position: relative; border: 0; display: block !important; background: #fff; border-radius: 6px; box-shadow: 2px 2px 6px rgba(0, 0, 0, .6); -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .6); -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, .6); transition: none !important; -moz-transition: none !important; -webkit-transition: none !important; transform: none !important; -moz-transform: none !important; }
.chat-main-panel { background: rgba(0,0,0,.5)!important; }
.im-main-panel .panel-header, .chat-main-panel .panel-header { width: 100%; height: 56px; border-radius: 6px 6px 0 0; color: #fff; background: linear-gradient(#555,#222); -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; }
.im-main-panel .list-item, .chat-main-panel .list-item { position: relative; border-top: 1px solid #e3e3e3; width: 100%; height: 36px; line-height: 36px; cursor: pointer; }
.im-main-panel .panel-header .list-item, .chat-main-panel .panel-header .list-item { border: none; }
.im-main-panel .list-item .list-item-avatar, .chat-main-panel .list-item .list-item-avatar { float: left; position: relative; }
.im-main-panel .list-item .list-item-avatar img, .chat-main-panel .list-item .list-item-avatar img { width: 36px; height: 36px; }
.im-main-panel .list-item .list-item-name, .chat-main-panel .list-item .list-item-name { line-height: 36px; padding: 0 0 0 6px; }
.im-main-panel .list-item .list-item-operate { float: right; }

.chat-main-panel .panel-body { padding: 6px !important; }
.im-main-panel .im-body { width: 100%; position: absolute; top: 56px; bottom: 56px; }
.im-main-panel .im-body .im-body-content { position: relative; min-height: 100%; max-height: 100%; overflow-y: auto; overflow-x: hidden; }

.im-main-panel .panel-body { padding: 0; }
.im-main-panel .panel-body .panel-group {}
.im-main-panel .panel-body .panel-group .panel { border-radius: 0px; margin: 0; border-top: 1px solid #ccc; }
.im-main-panel .panel-body .panel-group .panel:first-child { border: 0; }
.im-main-panel .panel-body .panel-group .panel .panel-heading { border-radius: 0px; }
.im-main-panel .panel-body .panel-group .panel .panel-heading .panel-title { font-size: 100%; }
.im-main-panel .panel-body .list-item { height: 48px; width: 100%; padding: 6px; }
.im-main-panel .panel-body .panel-group .panel .list-item:first-child { border: 0; }
.im-main-panel .panel-body .panel-group .panel .list-item.active { background: linear-gradient(#fff, #eee); }

.im-main-panel .panel-footer, .chat-main-panel .panel-footer { width: 100%; height: 56px; position: absolute; bottom: 0; padding: 0; border-radius: 0 0 6px 6px; background: linear-gradient(#555,#222); -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; }
.im-main-panel .panel-footer .icon, .chat-main-panel .panel-footer .icon { display: block; font-size: 16px; }
.im-main-panel .panel-footer .tabs { }
.im-main-panel .panel-footer .tabs .first-tab { border-radius: 0 0 0 6px; -webkit-border-radius: 0 0 0 6px; -moz-border-radius: 0 0 0 6px; }
.im-main-panel .panel-footer .tabs .last-tab { border-radius: 0 0 6px 0; -webkit-border-radius: 0 0 6px 0; -moz-border-radius: 0 0 6px 0; }
.im-main-panel .panel-footer .tabs .active { color: #fff; background: #333; border-left-color: #222; text-shadow: 0 1px 0 #000; box-shadow: inset 0 0 10px #111; -webkit-box-shadow: inset 0 0 10px #111; -moz-box-shadow: inset 0 0 10px #111; }
.im-main-panel .panel-footer .tabs a { color: #fff; }
.im-main-panel .panel-footer .tabs a:hover { color: #fff; background: #333; box-shadow: inset 0 0 10px #111; -webkit-box-shadow: inset 0 0 10px #111; -moz-box-shadow: inset 0 0 10px #111; }
.im-main-panel .panel-footer .tabs .active>a { background: #333; }

.wraper .chat-container .chat-window { width: 100%; height: 100%; }
.wraper .chat-container .chat-window .panel-close { line-height: 100%; position: absolute; right: 16px; top: 22px; cursor: pointer; }
.wraper .chat-container .chat-window .panel-footer .chat-toolbar { height: 100%; line-height: 100%; padding: 6px; }
.chat-toolbar .chat-toolbar-btn { display: inline-block; width: 26px; position: relative; padding: 6px 2px; cursor: pointer; }
.chat-toolbar .chat-toolbar-btn .chat-emotion { display: block; width: 22px; height: 32px; background: url(../img/sprite_icons.png) -43px -6px; }
.chat-toolbar .chat-toolbar-btn .chat-file { display: block; width: 22px; height: 32px; background: url(../img/sprite_icons.png) -44px -41px; }
.chat-toolbar .chat-input { position: absolute; left: 68px; right: 80px; top: 4px;}
.chat-toolbar .chat-input .chat-textarea { width: 100%; resize: none; margin: 8px; padding: 8px; height: 32px; max-height: 100px; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; white-space: pre-wrap; word-wrap: break-word; }
.chat-toolbar .chat-send-btn { position: absolute; right: 10px; top: 4px; margin: 6px 0; }

.wraper .chat-container .chat-window .chat-body { width: 100%; position: absolute; top: 50px; bottom: 80px; }
.wraper .chat-container .chat-window .chat-body .message-more-btn { text-align: center; color: #4EA9E9; padding: 6px 0; cursor: pointer; }
.wraper .chat-container .chat-window .chat-body .chat-message-list { min-height: 100%; max-height: 100%; overflow-y: auto; overflow-x: hidden; }
.chat-message-list .chat-message-list-item { padding: 4px; }
.chat-message-list .chat-message-list-item .datetime { text-align: center; color: #dcdcdc; }
.chat-message-list .chat-message-list-item .bubble { max-width: 100%; overflow-x: hidden; }
.chat-message-list .chat-message-list-item .bubble-content { position: relative; display: inline-block; max-width: 100%; min-height: 36px; padding: 6px; font-size: 14px; word-wrap: break-word; word-break: break-all; background: #b2e281; border-radius: 4px; -webkit-border-radius: 4px; text-align: left; margin: 0 10px; }
.chat-message-list .chat-message-list-item .bubble-content:before, .chat-message-list .chat-message-list-item .bubble-content:after  { position: absolute; top: 8px; border: 5px solid transparent; content: " "; }
.chat-message-list .chat-message-list-item .bubble-content.right:after { left: 100%; border-left-color: #b2e281; border-left-width: 5px; }
.chat-message-list .chat-message-list-item .bubble-content.left:after { right: 100%; border-right-color: #b2e281; border-right-width: 5px; }
.chat-message-list .chat-message-list-item .bubble-content .content { background: none !important; border: 0 !important; line-height: 20px !important; overflow: hidden; }
.chat-message-list .chat-message-list-item .bubble-content .content img.emotion { width: 22px; height: 22px; }
.chat-message-list .chat-message-list-item .bubble-content .content img.picture { max-width: 120px; }

/* 表情 */
.wraper .chat-container .emotion-panel { position: absolute; bottom: 48px; left: 20px; z-index: 999; width: 304px; height: 150px; background-color: #FFFFFF; border-radius: 6px; border: 1px solid #dedede; }
.emotion-panel .emotion-content { position: relative; width: 100%; height: 100%; padding: 10px; }
.emotion-panel .emotion-content:after { position: absolute; top: 100%; left: 10px; border: 5px solid transparent; content: " "; border-top-color: #FFFFFF; border-top-width: 5px; } 
.emotion-panel .emotion-content .emotion { float: left; font-size: 0; text-indent: -999em; border-bottom: 1px solid #F0F0F0; border-right: 1px solid #F0F0F0; cursor: pointer; padding: 4px; }
.emotion-panel .emotion-content .emotion img { width: 22px; height: 22px; }

/* 用户操作列表 */
.operate-panel { position: absolute; top: 36px; right: -8px; z-index: 999; width: 120px; background-color: #FFFFFF; border-radius: 4px; border: 1px solid #dedede; } 
.operate-panel .operate-content { position: relative; width: 100%; height: 100%; }
.operate-panel .operate-content:before { position: absolute; top: -14px; right: 8px; border: 6px solid transparent; content: " "; border-bottom-color: #FFFFFF; border-bottom-width: 10px; } 
.operate-panel .operate-content .operate { color: #333; padding: 8px; line-height: 1.6; border-bottom: 1px solid #f1f1f1; }
.operate-panel .operate-content .operate:hover { background-color: #f5f5f5; }
.operate-panel .operate-content:last-child { border: none; }


