<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="org.anttribe.webim" />

	<!-- 全局应用配置文件 -->
	<util:properties id="application" location="classpath:application.properties" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="localOverride" value="true" />
		<property name="properties" ref="application" />
	</bean>

	<bean id="configuration"
		class="org.apache.commons.configuration.PropertiesConfiguration">
		<constructor-arg value="application.properties" />
	</bean>

	<bean class="org.anttribe.webim.base.core.common.Global" factory-method="me">
		<property name="configuration" ref="configuration" />
	</bean>

	<!-- Autowired注解处理 -->
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- import other layer definitions -->
	<import resource="applicationContext-datasource.xml" />
<!-- 	<import resource="applicationContext-quatz.xml" /> -->
	<import resource="applicationContext-web.xml" />
</beans>