<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 环信消息同步任务 org.anttribe.webim.base.jobs.HxMessageSyncJob -->
	<bean id="hxMessageSyncJob" class="org.anttribe.webim.base.jobs.HxMessageSyncJob">
	</bean>

	<bean id="hxMessageSyncJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="hxMessageSyncJob" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="hxMessageSyncJobCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="hxMessageSyncJobDetail" />
		<property name="cronExpression" value="${hx.sync.job.cron}" />
	</bean>

	<!-- 环信消息下载任务，针对文件、音频、视频类的消息 org.anttribe.webim.base.jobs.HxMessageDownloadJob -->
	<bean id="hxMessageDownloadJob" class="org.anttribe.webim.base.jobs.HxMessageDownloadJob">
	</bean>

	<bean id="hxMessageDownloadJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="hxMessageDownloadJob" />
		<property name="targetMethod" value="execute" />
	</bean>

	<bean id="hxMessageDownloadJobCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="hxMessageDownloadJobDetail" />
		<property name="cronExpression" value="${hx.download.job.cron}" />
	</bean>


	<bean id="schedulerFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
<!-- 				<ref bean="hxMessageSyncJobCronTrigger" /> -->
<!-- 				<ref bean="hxMessageDownloadJobCronTrigger" /> -->
			</list>
		</property>
	</bean>
</beans>