<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.webim.base.core.domain.MessageBody">
	<cache readOnly="true" />
	<resultMap id="MessageBody-resultMap"
		type="org.anttribe.webim.base.core.domain.MessageBody">
		<result property="id" column="id" />
		<result property="type" column="type" />
		<result property="msg" column="msg" />
		<result property="filename" column="filename" />
		<result property="hxUrl" column="hxUrl" />
		<result property="length" column="length" />
		<result property="fileLength" column="fileLength" />
		<result property="secret" column="secret" />
		<result property="hxThumbUrl" column="hxThumbUrl" />
		<result property="thumbSecret" column="thumbSecret" />
		<result property="filepath" column="filepath" />
		<result property="thumbpath" column="thumbpath" />
		<result property="address" column="address" />
		<result property="lat" column="lat" />
		<result property="lng" column="lng" />
<!-- 		<association property="message" column="{id = messageId}" -->
<!-- 			javaType="org.anttribe.webim.base.core.domain.Message" select="org.anttribe.webim.base.core.domain.Message.queryById" /> -->
	</resultMap>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.webim.base.core.domain.MessageBody">
		<![CDATA[
		insert into t_webim_messagebody(id, type, msg, filename, hxUrl, length, fileLength, secret, hxThumbUrl, thumbSecret, filepath, thumbpath, address, lat, lng, messageId)
		    values(#{id}, #{type}, #{msg}, #{filename}, #{hxUrl}, #{length}, #{fileLength}, #{secret}, #{hxThumbUrl}, #{thumbSecret}, #{filepath}, #{thumbpath}, #{address}, #{lat}, #{lng}, #{message.messageId})
		]]>
	</insert>

	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		insert into t_webim_messagebody(id, type, msg, filename, hxUrl, length, fileLength, secret, hxThumbUrl, thumbSecret, filepath, thumbpath, address, lat, lng, messageId)
		values
		]]>
		<foreach collection="list" item="item" separator=", ">
			(#{item.id},
			#{item.type}, #{item.msg}, #{item.filename},
			#{item.hxUrl},
			#{item.length}, #{item.fileLength}, #{item.secret},
			#{item.hxThumbUrl}, #{item.thumbSecret}, #{item.filepath},
			#{item.thumbpath}, #{item.address}, #{item.lat}, #{item.lng},
			#{item.message.messageId})
		</foreach>
	</insert>

	<!-- queryAll: 查询所有数据 -->
	<select id="queryAll" resultMap="MessageBody-resultMap">
		<![CDATA[
		]]>
	</select>

	<!-- queryById: 根据id查询单条数据 -->
	<select id="queryById" resultMap="MessageBody-resultMap">
		<![CDATA[
		]]>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="MessageBody-resultMap"
		parameterType="map">
		<![CDATA[
		]]>
	</select>
	
	<!-- queryByMessage: 根据message查询数据 -->
	<select id="queryByMessage" resultMap="MessageBody-resultMap"
		parameterType="java.util.Map">
		<![CDATA[
		select id, type, msg, filename, hxUrl, length, fileLength, secret, hxThumbUrl, thumbSecret, filepath, thumbpath, address, lat, lng, messageId
		    from t_webim_messagebody
		    where messageId = #{messageId}
		]]>
	</select>
</mapper>