<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.webim.base.core.domain.MessageBody">
	<cache readOnly="true" />
	<resultMap id="MessageBody-resultMap"
		type="org.anttribe.webim.base.core.domain.MessageBody">
		<result property="messageBodyId" column="id" />
		<result property="messageType" column="message_type" />
		<result property="msg" column="msg" />
		<result property="filename" column="filename" />
		<result property="hxFileUrl" column="hx_file_url" />
		<result property="duration" column="duration" />
		<result property="fileLength" column="file_length" />
		<result property="secret" column="secret" />
		<result property="hxThumbUrl" column="hx_thumb_url" />
		<result property="thumbSecret" column="thumb_secret" />
		<result property="filepath" column="filepath" />
		<result property="thumbpath" column="thumbpath" />
		<result property="address" column="address" />
		<result property="lat" column="lat" />
		<result property="lng" column="lng" />
		<!-- <association property="message" column="{id = message_id}" -->
		<!-- javaType="org.anttribe.webim.base.core.domain.Message" select="org.anttribe.webim.base.core.domain.Message.queryById" 
			/> -->
	</resultMap>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.webim.base.core.domain.MessageBody">
		<![CDATA[
		insert into t_webim_messagebody(id, message_type, msg, filename, hx_file_url, duration, file_length, secret, hx_thumb_url, thumb_secret, filepath, thumbpath, address, lat, lng, message_id)
		    values(#{messageBodyId}, #{messageType}, #{msg}, #{filename}, #{hxFileUrl}, #{duration}, #{fileLength}, #{secret}, #{hxThumbUrl}, #{thumbSecret}, #{filepath}, #{thumbpath}, #{address}, #{lat}, #{lng}, #{message.messageId})
		]]>
	</insert>

	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		insert into t_webim_messagebody(id, message_type, msg, filename, hx_file_url, duration, file_length, secret, hx_thumb_url, thumb_secret, filepath, thumbpath, address, lat, lng, message_id)
		values
		]]>
		<foreach collection="list" item="item" separator=", ">
			(#{item.messageBodyId},
			#{item.messageType}, #{item.msg},
			#{item.filename},
			#{item.hxFileUrl},
			#{item.duration},
			#{item.fileLength}, #{item.secret},
			#{item.hxThumbUrl},
			#{item.thumbSecret}, #{item.filepath},
			#{item.thumbpath},
			#{item.address}, #{item.lat}, #{item.lng},
			#{item.message.messageId})
		</foreach>
	</insert>
	
	<!-- update: 更新数据 -->
	<update id="update" parameterType="org.anttribe.webim.base.core.domain.MessageBody">
		update t_webim_messagebody
		<trim prefix="set" suffixOverrides=",">
             <trim prefix="msg = case id" suffix="end,">
                 when #{messageBodyId} then #{msg}
              </trim>
              <trim prefix="filename = case id" suffix="end,">
                 when #{messageBodyId} then #{filename}
              </trim>
              <trim prefix="hx_file_url = case id" suffix="end,">
                 when #{messageBodyId} then #{hxFileUrl}
              </trim>
              <trim prefix="duration = case id" suffix="end,">
                 when #{messageBodyId} then #{duration}
              </trim>
              <trim prefix="file_length = case id" suffix="end,">
                 when #{messageBodyId} then #{fileLength}
              </trim>
              <trim prefix="secret = case id" suffix="end,">
                 when #{messageBodyId} then #{secret}
              </trim>
              <trim prefix="hx_thumb_url = case id" suffix="end,">
                 when #{messageBodyId} then #{hxThumbUrl}
              </trim>
              <trim prefix="thumb_secret = case id" suffix="end,">
                 when #{messageBodyId} then #{thumbSecret}
              </trim>
              <trim prefix="filepath = case id" suffix="end,">
                 when #{messageBodyId} then #{filepath}
              </trim>
              <trim prefix="thumbpath = case id" suffix="end,">
                 when #{messageBodyId} then #{thumbpath}
              </trim>
              <trim prefix="address = case id" suffix="end,">
                 when #{messageBodyId} then #{address}
              </trim>
              <trim prefix="lat = case id" suffix="end,">
                 when #{messageBodyId} then #{lat}
              </trim>
              <trim prefix="lng = case id" suffix="end,">
                 when #{messageBodyId} then #{lng}
              </trim>
          </trim>
          where id = #{messageBodyId}
	</update>
	
	<!-- batchUpdate: 批量更新数据 -->
	<update id="batchUpdate" parameterType="java.util.List">
		update t_webim_messagebody
		<trim prefix="set" suffixOverrides=",">
             <trim prefix="msg = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.msg != null">
                         when #{item.messageBodyId} then #{item.msg}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="filename = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.filename != null">
                         when #{item.messageBodyId} then #{item.filename}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="hx_file_url = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.hxFileUrl != null">
                         when #{item.messageBodyId} then #{item.hxFileUrl}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="duration = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.duration != null">
                         when #{item.messageBodyId} then #{item.duration}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="file_length = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.fileLength != null">
                         when #{item.messageBodyId} then #{item.fileLength}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="secret = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.secret != null">
                         when #{item.messageBodyId} then #{item.secret}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="hx_thumb_url = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.hxThumbUrl != null">
                         when #{item.messageBodyId} then #{item.hxThumbUrl}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="thumb_secret = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.thumbSecret != null">
                         when #{item.messageBodyId} then #{item.thumbSecret}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="filepath = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.filepath != null">
                         when #{item.messageBodyId} then #{item.filepath}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="thumbpath = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.thumbpath != null">
                         when #{item.messageBodyId} then #{item.thumbpath}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="address = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.address != null">
                         when #{item.messageBodyId} then #{item.address}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="lat = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.lat != null">
                         when #{item.messageBodyId} then #{item.lat}
                     </if>
                 </foreach>
              </trim>
              <trim prefix="lng = case id" suffix="end,">
                 <foreach collection="list" item="item">
                     <if test="item.lng != null">
                         when #{item.messageBodyId} then #{item.lng}
                     </if>
                 </foreach>
              </trim>
          </trim>
          where id in 
          <foreach collection="list" separator=", " item="item" open="(" close=")">
              #{item.messageBodyId}
          </foreach>
	</update>

	<!-- queryAll: 查询所有数据 -->
	<select id="queryAll" resultMap="MessageBody-resultMap">
		<![CDATA[
		]]>
	</select>

	<!-- queryById: 根据id查询单条数据 -->
	<select id="queryById" resultMap="MessageBody-resultMap">
		<![CDATA[
		]]>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="MessageBody-resultMap"
		parameterType="map">
		<![CDATA[
		]]>
	</select>

	<!-- queryByMessage: 根据message查询数据 -->
	<select id="queryByMessage" resultMap="MessageBody-resultMap"
		parameterType="java.util.Map">
		<![CDATA[
		select id, message_type, msg, filename, hx_file_url, duration, file_length, secret, hx_thumb_url, thumb_secret, filepath, thumbpath, address, lat, lng, message_id
		    from t_webim_messagebody
		    where message_id = #{messageId}
		]]>
	</select>

	<!-- queryFileMessageBodies: 查询所有文件类型消息的消息体 -->
	<select id="queryFileMessageBodies" resultMap="MessageBody-resultMap"
		parameterType="java.util.Map" useCache="false">
		<![CDATA[
		select id, message_type, msg, filename, hx_file_url, duration, file_length, secret, hx_thumb_url, thumb_secret, filepath, thumbpath, address, lat, lng, message_id
		    from t_webim_messagebody
		    where (message_type = 'File' or message_type = 'Audio' or message_type = 'Image')
		      and hx_file_url is not null
		      and secret is not null
		      and (filepath is null or filepath = '')
		]]>
	</select>
</mapper>