<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.webim.base.core.domain.User">
	<cache readOnly="true" />
	<resultMap id="User-resultMap" type="org.anttribe.webim.base.core.domain.User">
		<result property="userId" column="userId" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="nickname" column="nickname" />
		<result property="email" column="email" />
		<result property="mobile" column="mobile" />
		<result property="avatar" column="avatar" />
		<result property="signature" column="signature" />
		<result property="createTime" column="createTime" />
		<result property="updateTime" column="updateTime" />
		<result property="latestLoginTime" column="latestLoginTime" />
		<result property="available" column="available" jdbcType="BOOLEAN" />
		<result property="hxPassword" column="hxPassword" />
	</resultMap>

	<!-- update: 更新用户信息 -->
	<update id="update" parameterType="org.anttribe.webim.base.core.domain.User">
		UPDATE t_webim_user
		<set>
			<if test="null != username and '' != username">username = #{username},</if>
			<if test="null != nickname and '' != nickname">nickname = #{nickname},</if>
			<if test="null != password and '' != password">password = #{password},</if>
			<if test="null != mobile and '' != mobile">mobile = #{mobile},</if>
			<if test="null != email and '' != email">email = #{email},</if>
			<if test="null != avatar and '' != avatar">avatar = #{avatar},</if>
			<if test="null != signature and '' != signature">signature = #{signature}</if>
		</set>
		WHERE userId = #{userId}
	</update>

	<!-- queryById: 根据id查询数据 -->
	<select id="queryById" resultMap="User-resultMap" parameterType="map">
		<![CDATA[
		SELECT userId, username, password, nickname, email, mobile, avatar, signature, createTime, updateTime, latestLoginTime, available, hxPassword
		    FROM t_webim_user t
		        WHERE t.userId = #{userId}
		]]>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="User-resultMap"
		parameterType="map">
		<![CDATA[
		SELECT userId, username, password, nickname, email, mobile, avatar, signature, createTime, updateTime, latestLoginTime, available, hxPassword
		    FROM t_webim_user t
		        WHERE t.username = #{userAccount}
		           OR t.email = #{userAccount}
		]]>
		<if test="null != available">
			AND available = ${available}
		</if>
	</select>

	<!-- queryByUserAccount: 根据userAccount查找对应的用户信息 -->
	<select id="queryByUserAccount" resultMap="User-resultMap"
		parameterType="java.lang.String">
		<![CDATA[
		SELECT userId, username, password, nickname, email, mobile, avatar, signature, createTime, updateTime, latestLoginTime, available, hxPassword
		    FROM t_webim_user t
		        WHERE t.username = #{userAccount}
		           OR t.email = #{userAccount}
		]]>
	</select>
</mapper>