<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.webim.base.core.domain.User">
	<cache readOnly="true" />
	<resultMap id="User-resultMap" type="org.anttribe.webim.base.core.domain.User">
		<result property="userId" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="nickname" column="nickname" />
		<result property="email" column="email" />
		<result property="mobile" column="mobile" />
		<result property="avatar" column="avatar" />
		<result property="signature" column="signature" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="latestLoginTime" column="latest_login_time" />
		<result property="available" column="available" jdbcType="BOOLEAN" />
		<result property="hxUsername" column="hx_username" />
		<result property="hxPassword" column="hx_password" />
	</resultMap>

	<!-- insert: 保存用户信息 -->
	<insert id="insert" parameterType="org.anttribe.webim.base.core.domain.User">
        <![CDATA[
            INSERT INTO t_webim_user(id, username, password, nickname, email, mobile, avatar, signature, create_time, available, hx_username, hx_password)
                VALUES(#{userId}, #{username}, #{password}, #{nickname}, #{email}, #{mobile}, #{avatar}, #{signature}, #{createTime}, #{available}, #{hxUsername}, #{hxPassword})
        ]]>
	</insert>

	<!-- update: 更新用户信息 -->
	<update id="update" parameterType="org.anttribe.webim.base.core.domain.User">
		UPDATE t_webim_user
		<set>
			<if test="null != username and '' != username">username = #{username},</if>
			<if test="null != nickname and '' != nickname">nickname = #{nickname},</if>
			<if test="null != password and '' != password">password = #{password},</if>
			<if test="null != mobile and '' != mobile">mobile = #{mobile},</if>
			<if test="null != email and '' != email">email = #{email},</if>
			<if test="null != avatar and '' != avatar">avatar = #{avatar},</if>
			<if test="null != signature and '' != signature">signature = #{signature},</if>
			<if test="null != hxUsername and '' != hxUsername">hx_username = #{hxUsername},</if>
			<if test="null != hxPassword and '' != hxPassword">hx_password = #{hxPassword},</if>
		</set>
		WHERE id = #{userId}
	</update>

	<!-- queryById: 根据id查询数据 -->
	<select id="queryById" resultMap="User-resultMap" parameterType="map">
		<![CDATA[
		SELECT id, username, password, nickname, email, mobile, avatar, signature, create_time, update_time, latest_login_time, available, hx_username, hx_password
		    FROM t_webim_user t
		        WHERE t.id = #{userId}
		]]>
	</select>

	<!-- queryByCriteria: 根据条件查询数据 -->
	<select id="queryByCriteria" resultMap="User-resultMap"
		parameterType="map">
		<![CDATA[
		SELECT id, username, password, nickname, email, mobile, avatar, signature, create_time, update_time, latest_login_time, available, hx_username, hx_password
		    FROM t_webim_user t
		        WHERE t.username = #{userAccount}
		           OR t.email = #{userAccount}
		]]>
		<if test="null != available">
			AND available = ${available}
		</if>
	</select>

	<!-- queryByUserAccount: 根据userAccount查找对应的用户信息 -->
	<select id="queryByUserAccount" resultMap="User-resultMap"
		parameterType="java.lang.String">
		<![CDATA[
		SELECT id, username, password, nickname, email, mobile, avatar, signature, create_time, update_time, latest_login_time, available, hx_username, hx_password
		    FROM t_webim_user t
		        WHERE t.username = #{userAccount}
		           OR t.email = #{userAccount}
		]]>
	</select>
</mapper>